body{
  background-color: black;
}
.todo-app {
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
}

.task-input {
  display: flex;
  margin-bottom: 10px;
}

.task-input input {
  flex: 1;
  padding: 5px;
}

.addicon {
  padding: 5px 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 5vh;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.task-list li.done {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
}

.task-list input[type="text"] {
  flex: 1;
  padding: 5px;
}

.icon {
  padding: 5px 5px;
  height: 2vh;
  color: red;
  border: none;
  cursor: pointer;
  /* margin-left: 5px; */
}
