body{
  background-color: black;
  padding-left: 29%;
  padding-top: 5vh;
}
h1{
  color: mintcream;
  text-decoration: wavy;
}
.todo-app {
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
}
.todowrapper{
  background-color: pink;
  width:50% ;
  align-self: center;
  padding: 2vh;
}

.task-input {
  display: flex;
  margin-bottom: 10px;
  
}


.task-input input {
  flex: 1;
  padding: 5px;
  width: 50%;
  background-color: mintcream;
}

.addicon {
  padding: 5px 5px;
  background-color: mintcream;
  color:pink;
  border: none;
  cursor: pointer;
  height: 5vh;
}

.task-list {
  list-style: none;
  padding: 0;
  
}

.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.task-list li.done {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-list input[type="checkbox"] {
  margin-right: 0px;
width: 10%;
}

.task-list input[type="text"] {
  flex: 1;
  padding: 5px;
}
input{
  width: 50%;
  /* min-width: 320px; */
}

.deleteicon {
  padding: 5px 5px;
  height: 2vh;
  color:mintcream;
  border: none;
  cursor: pointer;
}